#ifndef EHGK_PAGESDEFS_H
#define EHGK_PAGESDEFS_H

#include <ehgk_page.h>

#define PAGES_COUNT {{ pages_count }}

const ehgk_page_t pages[PAGES_COUNT] =
{
    {% for page in pages %}
        {{ page.value }}ULL,
    {% endfor %}
};

#endif